<% if params[:controller] == 'about'%>
	<div class="well">
	  <h3>Location Info</h3>
		<ul>
			<li>The BookStore</li>
			<li>499,london,Ave unit 12</li>
			<li>Phone:02-485-364-</li>
			<li>Email:reemhmahdy@gmail.com</li>
		</ul>
	</div>
	
<% end%>

<% if params[:controller] == 'books' && params[:action] == 'index' ||  params[:action] == 'show'%>
	<div class="list-group">
		<% @categories.each do|category|%>
			<%= link_to category.name , category_path(category.id) , class:'list-group-item' %>
		<%end%>
	</div>
<%end%>
